/**
 * @name Midnight Tweaked
 * @description Modified Version of refact0r's Midnight theme
 * @author refact0r / Virtual
 * @version 1.2
 * @source https://github.com/Virtual065/MidnightTweaked
 * @authorId 546714001300783114
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!! */
@import url('https://raw.githubusercontent.com/Virtual065/MidnightTweaked/main/midnightinfo/MidnightInfo.css');
@import url("https://raw.githubusercontent.com/Virtual065/MidnightTweaked/main/midnightinfo/RadialInfo.css");
@import url("https://raw.githubusercontent.com/Virtual065/MidnightTweaked/main/midnightinfo/SettingsIcons.css");

/* change colors and variables here */
:root {
	/* amount of spacing and padding */
	--spacing: 12px;
	/* radius of round corners */
	--roundness: 10px;

	/* color of links */
	--accent-1: #5899ea;
	/* color of unread dividers and some indicators */
	--accent-2: hsl(190, 71%, 28%);
	/* color of accented buttons */
	--accent-3: hsl(190, 71%, 28%);
	/* color of accented buttons when hovered */
	--accent-4: hsl(190, 71%, 28%);
	/* color of accented buttons when clicked */
	--accent-5: hsl(190, 71%, 28%);

	/* color of mentions and messages that mention you */
	--mention: hsla(190, 60%, 50%, 0.1);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: hsla(190, 60%, 50%, 0.05);

	/* color of bright text on colored buttons */
	--text-1: hsl(220, 40%, 90%);
	/* color of headings and important text */
	--text-2: hsl(220, 30%, 70%);
	/* color of normal text */
	--text-3: hsla(0, 0%, 100%, 0.808);
	/* color of icon buttons and channels */
	--text-4: hsla(0, 0%, 100%, 0.658);
	/* color of muted channels/chats and timestamps */
	--text-5: hsla(0, 0%, 100%, 0.425);

	/* color of dark buttons when clicked */
	--bg-1: hsl(220, 15%, 20%);
	/* color of dark buttons */
	--bg-2: hsl(220, 15%, 16%);
	/* color of spacing around panels and secondary elements */
	--bg-3: hsl(220, 15%, 13%);
	/* main background color */
	--bg-4: hsl(220, 15%, 10%);

	/* color of channels and icon buttons when hovered */
	--hover: hsla(197, 33%, 35%, 0.233);
	/* color of channels and icon buttons when clicked or selected */
	--active: hsla(197, 33%, 35%, 0.418);
	/* color of messages when hovered */
	--message-hover: hsla(225, 12%, 13%, 0.5);

  	/* Radial Status */
	 --rs-online-color: #43b581;
 	 --rs-idle-color: #faa61a;
 	 --rs-dnd-color: #f04747;
 	 --rs-offline-color: #636b75;
 	 --rs-streaming-color: #643da7;
	 --rs-invisible-color: #747f8d;



}
