/**
 * @name Midnight Tweaked
 * @description Tweaked Version of Midnight
 * @author Virtual065
 * @version 1.0
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */
@import url('https://raw.githubusercontent.com/Virtual065/MidnightTweaked/main/midnightinfo/MidnightInfo.css');
@import url('https://raw.githubusercontent.com/DiscordStyles/RadialStatus/deploy/RadialStatus.theme.css');
@import url("https://minidiscordthemes.github.io/SettingsIcons/main.min.css");

/* customize things here */

.container__37e49 /* user panel button strikethroughs */,
.numberBadge_df8943  /* unread number badge */,
.numberBadge__2b1f5  /* unread number badge */,
.toolbar__9293f /* toolbar button strikethroughs */ {
	--status-danger: var(--accent-2);
}
.expandedFolderIconWrapper__48112 > svg[style="color: rgb(88, 101, 242);"] /* default color folder icons */ {
	color: var(--accent-3) !important;
}
.mention__3b95d /* NEW unread pill */,
.botTagOP__82f07 /* OP tag */ {
	background: var(--accent-3);
}
.mention__3b95d:active /* NEW unread pill when clicked */ {
	background: var(--accent-4);
}
.numberBadge__2b1f5 /* dms number badge */,
.newMessagesBar__0f481 .barButtonBase__0f481 /* unread bar */,
.botTagRegular__82f07 /* bot tag */,
.endCap__908e2 /* unread divider */,
.thin_d125d2.scrollerBase_d125d2,
.embed__623de/* embeds */,

:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'Discord';

	/* color of status indicators and window controls */
	--online-indicator: hsl(138, 30%, 57%); /* change to #23a55a for default green */
	--dnd-indicator: hsl(4, 59%, 55%); /* change to #f13f43 for default red */
	--idle-indicator: hsl(39, 75%, 57%); /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

	/* color of links */
	--accent-1: #5899ea;
	/* color of unread dividers and some indicators */
	--accent-2: hsl(190, 71%, 28%);
	/* color of accented buttons */
	--accent-3: hsl(190, 71%, 28%);
	/* color of accented buttons when hovered */
	--accent-4: hsl(190, 71%, 28%);
	/* color of accented buttons when clicked */
	--accent-5: hsl(190, 71%, 28%);
	/* color of mentions and messages that mention you */
	--mention: hsla(190, 60%, 50%, 0.1);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: hsla(190, 60%, 50%, 0.05);

	--text-1: hsl(220, 40%, 90%);
	/* color of headings and important text */
	--text-2: hsl(220, 30%, 70%);
	/* color of normal text */
	--text-3: hsla(0, 0%, 100%, 0.808);
	/* color of icon buttons and channels */
	--text-4: hsla(0, 0%, 100%, 0.658);
	/* color of muted channels/chats and timestamps */
	--text-5: hsla(0, 0%, 100%, 0.425);

	/* background and dark colors */
	/* color of dark buttons when clicked */
	--bg-1: hsl(220, 15%, 20%);
	/* color of dark buttons */
	--bg-2: hsl(220, 15%, 16%);
	/* color of spacing around panels and secondary elements */
	--bg-3: hsl(220, 15%, 13%);
	/* main background color */
	--bg-4: hsl(220, 15%, 10%);
	/* color of channels and icon buttons when hovered */
	--hover: hsla(197, 33%, 35%, 0.233);
	/* color of channels and icon buttons when clicked or selected */
	--active: hsla(197, 33%, 35%, 0.418);
	/* color of messages when hovered */
	--message-hover: hsla(225, 12%, 13%, 0.5);

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: block; /* discord icon */
	--moon-icon: none; /* moon icon */
	--moon-icon-url: url(''); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
}
